

<div id="banner-container" class="rounded-5 border border-1">
    <div id="imagenBanner">
    </div>
    <div id="perfil" class="container-fluid">
        <div id="imagenPerfil">
        </div>
    </div>
    <div  id="descripPerfil" class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="nombrePerfil">Morales Javier</div> 
                <div id="descripPerfil1" >Informático en el Ministerio de Educacion de la Nación</div>
                <div id="descripPerfil2" >Estudiante de Licenciatura en sistemas en la UNaHur</div>
            </div>
            <div class="col">

            </div>
            
        </div>
        
        
    </div>
</div>
