

<div id="banner-container" class="rounded-5 border border-1">
    <div id="imagenBanner">
    </div>
    <div id="perfil" class="">
        <div class="form-group center"  [ngStyle]="imagenPerfil()">
            <!-- <label for="file-lapiz">
              <img id="editar" src="/assets/images/botones/editar.png" class="lapizEditar"/>
            </label> -->
            <!-- <input id="file-lapiz" type="file" accept="image/jpg" (change)="cambiarImagen($event)" />
            <img id="guardarImagen" style="display: none;" src="/assets/images/botones/guardar.png" alt="" (click)="guardarImagen()" > -->
        </div>
        <!-- <div id="imagenPerfil"  [ngStyle]="imagenPerfil()">
        </div> -->
        <!-- <img id="editar" src="/assets/images/botones/editar.png" alt="" width="25px" height="25px" (click)="activarEdicion()"> -->
    </div>
    <div  id="descripPerfil" class="container">
        <div class="row m-0">
            <div class="col-lg-4 p-2" style="display: flex;">
                <input id="nombrePerfil" class="" type="text" [(ngModel)]="nombre" [readonly]="estado" [ngStyle]="modificaInput()">
            </div>
            <div class="col-lg-8 text-center p-2">
                <input id="descripPerfil0" class="display-6 rounded-5" type="text" [(ngModel)]="descripcion1" [readonly]="estado" [ngStyle]="modificaInput()">
                <input id="descripPerfil1" class="rounded-5" type="text" [(ngModel)]="descripcion2" [readonly]="estado" [ngStyle]="modificaInput()">
                <input id="descripPerfil2" class="rounded-5" type="text" [(ngModel)]="descripcion3" [readonly]="estado" [ngStyle]="modificaInput()">
            </div>
        </div>
        <div *ngIf="estadologueado">
            <img id="editar" src="/assets/images/botones/editar.png" title="editar" alt="" width="25px" height="25px" (click)="activarEdicion()">
            <img id="guardar" src="/assets/images/botones/guardar.png" title="guardar" alt="" width="25px" height="25px" (click)="guardarDatos()" [ngStyle]="puedeGuardar()">
        </div>
        
    </div>
</div>
