

<div id="contenedordeestudios">
    <div style="display: contents;" *ngIf="estadologueado">
        <img id="nuevo" src="/assets/images/botones/nuevo.png" alt="" width="25px" height="25px" (click)="nuevaEducacion(true)">
    </div>
    
    <div *ngFor="let e of estudios; let i = index">
        <div class="cuadro border border-2 rounded-5 mx-auto mb-3" [ngStyle]="color()">
            <div class="info row p-3">
                <div class="col ">
                    <div class="imagen" [ngStyle]="imagen(e.numeroimagen)"></div>
                </div>
                <div class="texto col ">
                    <input style="background-color: #FFFFFF; border: none" class="instituto empresa texto" type="text" [(ngModel)]="e.instituto" [readonly]="estado" [ngClass]="i.toString()">
                    <input style="background-color: #FFFFFF; border: none" class="fecha" type="date" [(ngModel)]="e.fechainicio" [readonly]="estado" [ngClass]="i.toString()">
                    <input style="background-color: #FFFFFF; border: none" class="fecha" type="date" [(ngModel)]="e.fechafin" [readonly]="estado" [ngClass]="i.toString()">
                    <textarea style="background-color: #FFFFFF; border: none" class="titulo form-control texto" name="" id="" [(ngModel)]="e.titulo" [readonly]="estado" [ngClass]="i.toString()"></textarea>
                </div>
            </div>
            <div *ngIf="estadologueado">
                <img id="editar" style="cursor:pointer; pointer-events: all;" src="/assets/images/botones/editar.png" alt="" width="25px" height="25px" (click)="activarEdicion(i)">
                <img id="guardar" style="opacity: 0.5; cursor:default; pointer-events: none;" src="/assets/images/botones/guardar.png" alt="" width="25px" height="25px"  [ngClass]="'g'+i.toString()" (click)="guardarDatos(i)">
                <img id="eliminar" src="/assets/images/botones/eliminar.png" alt="" width="25px" height="25px"  (click)="eliminar(e.id)">
            </div>
            
        </div>
        
    </div>
    <div class="paraNuevosEdu" style="display: none;">
        <div class=" border border-2 rounded-5 mx-auto py-3 px-5 mb-5" style="position:relative">
            <div class="row  info">
                <input class=" texto form-control mb-2" type="text" name="nombre" placeholder="Instituto" [(ngModel)]="instituto">
                <label class="control-label" for="desde">Desde: </label><input class="fecha form-control" type="date" name="desde"  [(ngModel)]="fechainicio">
                <label class="control-label" for="hasta">Hasta: </label><input class="fecha form-control" type="date" name="hasta" [(ngModel)]="fechafin">
                <textarea class="form-control tarea texto mt-2" name="tarea" placeholder="Titulo" style="resize:none" [(ngModel)]="titulo"></textarea> 
            </div>
            <img id="guardar" src="/assets/images/botones/guardar.png" alt="" width="25px" height="25px" (click)="guardarNuevosDatos()">
        </div>

    </div>
</div>
