
  <nav id="header" class="navbar navbar-expand-sm ">

    <div id="logoArg" >
        <a href=""><img src={{logoArg}} alt=""></a>
    </div>

    <span id="titulo">
        Argentina Programa
    </span>

    <div class="spacer"></div>

    <button id="btn-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span id="lines" class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarSupportedContent" >
      <ul class="navbar-nav" >
        <li id="logoLink" class="nav-item">
          <a href=""><img src={{logoLinkedIn}} alt=""></a>
        </li>
        <li id="logoGit" class="nav-item">
            <a href=""><img src={{logoGit}} alt=""></a>
        </li>
        <li id="botonLogin" class="nav-item" [ngStyle]="{display: estadologueado==false ? 'block' : 'none' }" >
            <button class="btn btn-warning btnlog" id="" (click)="login()">LogIn</button>
        </li>
        <li id="botonOut" class="nav-item" [ngStyle]="{display: estadologueado==true ? 'block' : 'none' }">
          <button class="btn btn-danger btnlog" id="" (click)="logout()">LogOut</button>
        </li>
      </ul>
    </div>
    
</nav>

<!-- (click)="toggleState()"  //  [ngClass]="{ 'collapse': isCollapse  }" -->