
nav{
  width: 100%;
  background-color: #000000;
  display: flex;
  color: #FFFFFF;
}
#navbarSupportedContent{
  justify-content: end;
}
nav ul{
  display: flex;
  gap: 0px 20px;
  list-style-type: none;
}

#logoArg a img{
  width: 35px;
  margin-left: 20px;
}
#logoLink a img{
  width: 35px;
  margin-top: 5px;
}
#logoGit a img{
  width: 30px;
  margin-top: 5px;
}

#botonLogin{
  margin-right: 20px;
}

#titulo{
  font-size: larger;
  margin: 15px 30px;

}
.spacer{
  flex:1;
}

.icon-bar {
  background-color: #37BBED;
}

#btn-toggler{
  background-color: #FFFFFF;
  width: 40px;
  height: 30px;
  margin-right: 20px;
  padding: 0;
}

#btn-toggler:hover{
  background-color: #FCB316;
}

@media screen and (max-width: 575px) {
  #botonLogin, #logoGit a img{
    margin-left:20px;
    margin-bottom: 10px;
  }
  #logoLink a img{
    margin-left:16px;
  }
}

@media screen and (max-width:350px){
  #logoLink a img{
    margin-top:15px;
  }
  #titulo{
    display: none;
  }
}
