
<div id="contenedordeexperiencias">
    <div *ngIf="estadologueado">
        <img id="nuevo" title="nuevo" src="/assets/images/botones/nuevo.png" style="cursor:pointer;" alt="" width="25px" height="25px" (click)="nuevaExperiencia(true)">
    </div>
    
    <div *ngFor="let e of experiencias; let i = index" >
        <div  class="cuadro border border-2 rounded-5 mx-auto mb-3" [ngStyle]="color()" [ngClass]="i.toString()">
            <div class="row p-3 info">
                <div class="">
                    <div class="imagen" [ngStyle]="imagen(e.numeroimagen)"></div>
                </div>
                <div class=" texto">
                    <input style="background-color: #FFFFFF; border: none" class="empresa texto" type="text" [(ngModel)]="e.empresa" [readonly]="estado" [ngClass]="i.toString()">
                    <input style="background-color: #FFFFFF; border: none" class="puesto texto" type="text" [(ngModel)]="e.puesto" [readonly]="estado" [ngClass]="i.toString()">
                    <div>
                        <input style="background-color: #FFFFFF; border: none" class="fecha" type="date" [(ngModel)]="e.fechainicio" [readonly]="estado" [ngClass]="i.toString()">
                        <p class="separadorfechas">-</p>
                        <input style="background-color: #FFFFFF; border: none" class="fecha" type="date" [(ngModel)]="e.fechafin" [readonly]="estado" [ngClass]="i.toString()">
                    </div>
                    <textarea style="background-color: #FFFFFF; border: none" class="form-control tarea texto" name="" id="" [(ngModel)]="e.tarea" [readonly]="estado" [ngClass]="i.toString()"></textarea>
                </div>
            </div>
            <div *ngIf="estadologueado">
                <img id="editar" title="editar" style="cursor:pointer; pointer-events: all;" src="/assets/images/botones/editar.png" alt="" width="25px" height="25px" (click)="activarEdicion(i)">
                <img id="guardar" title="guardar" style="opacity: 0.5; cursor:default; pointer-events: none;" src="/assets/images/botones/guardar.png" alt="" width="25px" height="25px"  [ngClass]="'g'+i.toString()" (click)="guardarDatos(i)">
                <img id="eliminar" title="eliminar" src="/assets/images/botones/eliminar.png" style="cursor:pointer;" alt="" width="25px" height="25px"  (click)="eliminar(e.id)">
            </div>
        </div>
        
    </div>
    <div class="paraNuevasExpe" style="display: none;">
        <div class=" border border-2 rounded-5 mx-auto py-3 px-5 mb-5" style="position:relative">
            <div class="row  info">
                <!-- <input class="texto form-control mb-2" type="text" name="numero" placeholder="Ingrese n° de imagen" [(ngModel)]="numeroimagen"> -->
                <input class=" texto form-control mb-2" type="text" name="nombre" placeholder="Empresa" [(ngModel)]="empresa">
                <input class=" texto form-control mb-2" type="text" name="puesto" placeholder="Puesto" [(ngModel)]="puesto">
                <label class="control-label" for="desde">Desde: </label><input class="fecha form-control" type="date" name="desde"  [(ngModel)]="fechainicio">
                <label class="control-label" for="hasta">Hasta: </label><input class="fecha form-control" type="date" name="hasta" [(ngModel)]="fechafin">
                <textarea class="form-control tarea texto mt-2" name="tarea" placeholder="Tareas" style="resize:none" [(ngModel)]="tarea"></textarea> 
            </div>
            <img id="guardar" title="guardar" src="/assets/images/botones/guardar.png" alt="" width="25px" height="25px" (click)="guardarNuevosDatos()">
        </div>

    </div>
</div>

