<div id="contenedordeproyectos">
    <div *ngIf="estadologueado">
        <img id="nuevo" title="nuevo" src="/assets/images/botones/nuevo.png" style="cursor:pointer;" alt="" width="25px" height="25px" (click)="nuevoProyecto(true)">
    </div>
    
    <div *ngFor="let e of proyectos; let i = index">
        <div class="cuadro border border-2 rounded-5 mx-auto mb-3" [ngStyle]="color()">
            <div class="info row p-3">
                <div class="col-12 col-lg-4" *ngFor="let n of cadenas">
                    <div class="imagen" [ngStyle]="imagen(e.link, n)"></div>
                </div>
                <input style="display:none"  type="text" [(ngModel)]="e.id" [ngClass]="'id'+i.toString()">
                <input style="display:none" type="text" [(ngModel)]="e.link" [ngClass]="'imagen'+i.toString()">
                <div class="texto col-12 col-lg-4">
                    <input style="background-color: #FFFFFF; border: none;display: block;" class="titulo texto" type="text" [(ngModel)]="e.nombre" [readonly]="estado" [ngClass]="'nombre'+i.toString()">
                    <input style="background-color: #FFFFFF; border: none" class="fecha texto" type="text" [ngModel]="obtenerfecha(e.fecharealizacion)" [readonly]="estado" [ngClass]="'fecharealizacion'+i.toString()">
                    <textarea style="background-color: #FFFFFF; border: none" class="descripcion titulo form-control texto" name="" id="" [(ngModel)]="e.descripcion" [readonly]="estado" [ngClass]="'descripcion'+i.toString()"></textarea>
                </div>
            </div>
            <div *ngIf="estadologueado">
                <img id="editar" title="editar" style="cursor:pointer; pointer-events: all;" src="/assets/images/botones/editar.png" alt="" width="25px" height="25px" (click)="activarEdicion(i)">
                <img id="guardar" title="guardar" style="opacity: 0.5; cursor:default; pointer-events: none;" src="/assets/images/botones/guardar.png" alt="" width="25px" height="25px"  [ngClass]="'g'+i.toString()" (click)="guardarDatos(i)">
                <img id="eliminar" title="eliminar" style="cursor:pointer;" src="/assets/images/botones/eliminar.png" alt="" width="25px" height="25px"  (click)="eliminar(e.id)">
            </div>
            
        </div>
    </div>
    <div class="paraNuevosEdu" style="display: none;">
        <div class=" border border-2 rounded-5 mx-auto py-3 px-5 mb-5" style="position:relative">
            <div class="row  info">
                <input class=" texto form-control mb-2" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre">
                <label class="control-label" for="desde">Realizado: </label><input class="fecha form-control" type="date" name="desde"  [(ngModel)]="fecharealizacion">
                <textarea class="form-control tarea texto mt-2" name="tarea" placeholder="Descripción" style="resize:none" [(ngModel)]="descripcion"></textarea> 
            </div>
            <img id="guardar" src="/assets/images/botones/guardar.png" style="cursor:pointer;" alt="" width="25px" height="25px" (click)="guardarNuevosDatos()">
        </div>

    </div>
</div>
