
#contenedordeproyectos{
    position:relative;
    display: block;
    padding-left: 3rem;
    padding-right: 3rem;
}
.titulo{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    color:#e12222;
    text-align: center;
    font-size: calc(8px + 1vh + 1vw);
}

.descripcion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    color: #3F3F3F;
    font-size: calc(6px + 1vh + 1vw);
    text-align: justify;
    padding: 0;
    resize: none;
    width: 100%;
    height: 80%;
}

.imagen{
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/* .imagen:hover{
  height: 600px;
} */
.cuadro{
    position: relative;
    box-shadow: 3px 3px 3px #5a5a5a;
}
.texto{
    text-align: start;
}
.paraNuevosEdu{
    position:relative;
}

@media screen and (max-width:991px){
    .descripcion{
        height: 100px;
    }
    .texto{
        text-align: center;
    }
}
@media screen and (max-width:770px){
    #contenedordeproyectos{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
